.movie-details-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.movie-details-card {
    width: 1400px;
    height: 600px;
    position: relative;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
}

.movie-details-card > div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

}

.foreground {
    z-index: 10;
    width: 50%;
    padding: 1rem;
}

.background-image {
    overflow: hidden;
    width: 100%;
    z-index: 5;
}
.background-image img {
    position: absolute;
    transform: translate(25%, 0);
    min-width: 100%;
    min-height: 100%;
}

.background-image-overlay {
    z-index: 7;
    width: 100%;
    background-image: linear-gradient(to right,#f9f9f9 ,#f9f9f9, transparent);
}

.top-container {
    display: flex;
    margin-bottom: 2rem;
    align-items: bottom;
}

.img-box {
    flex-shrink: 0;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 1rem;
}
.img-box img {
    height: 300px;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 300px;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
}
.classification {
    font-weight: 600;
}

.overview {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}


